<div class="container">

  <!--Search Menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-11">
      <input type="text"
             class="form-control"
             style="width: 98%;"
             placeholder="Search Todo Collections...">
    </div>
    <div class="col-md-1">
      <button type="button"
              (click)="newTodoCollection()"
              class="btn btn-info pull-right">

        <i class="fa fa-search"></i> Search
      </button>

    </div>
  </div>

  <!-- Below Headers -->
  <div class="row" style="margin-top: 28px">
    <!-- Collection Pane; -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && newTodoCollection(); f.resetForm();"
              class="newTodoCollection-form">
          <div class="row">
            <div class="col-md-10">
              <input type="text"
                     id="collectionName"
                     name="collectionName"
                     class="form-control"
                     style="width: 100%;"
                     placeholder="New Collection.."
                     [(ngModel)]="model.collectionName"
                     #name="ngModel"
                     required minlength="2"
                     [ngClass]="{ 'is-invalid': f.submitted && name.invalid}"
              />
              <!-- Validation errors -->
              <div *ngIf="f.submitted && name.invalid" class="invalid-input">
                <!-- Name Validation errors -->
                <div *ngIf="name.errors?.required">*This is a required field.</div>
                <div *ngIf="name.errors?.minlength">*Please use a minimum of 2 characters.</div>
              </div>
              <div><br></div>
            </div>
            <div class="col-md-2">
              <button type="submit"
                      class="btn btn-info pull-right">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

        </form>
        <a class="list-group-item list-group-item-action"
           (click)="selectTodoCollection(null);"
           [ngClass]="selectedCollectionClass(null)"
        >
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <a *ngFor="let todoCollection of todoCollectionList"
           class="list-group-item list-group-item-action"
           (click)="selectTodoCollection(todoCollection)"
           [ngClass]="selectedCollectionClass(todoCollection)"
        >
          <i class="fa fa-pencil-square-o"></i>&nbsp;{{todoCollection.collectionName}}
          ({{todoCollection.collectionCount}})
          <a (click)="deleteCollection(todoCollection.id)">
            <i class="fa fa-remove pull-right delete-button"></i>
          </a>
          <a>
            <i class="fa fa-pencil pull-right edit-button">
              <!--  (click)=""> -->&nbsp;
            </i>
          </a>

        </a>
      </div>
    </div>

    <!--Todos Pane-->
    <div class="col-md-9">
      <br>
      <div class="row">
        <!-- to do list-->
        <app-new-todo class="todo-pane"
                      (refreshTodoEmitter)="refreshTodoCollection()"
                      [collection]="currentCollection"
        ></app-new-todo>
        <div class="list-group list-group-flush todo-pane">


          <div class="row headings">
            <h5 class="col-md-6 text-left">Title</h5>
            <h5 class="col-md-2 text-center">Due</h5>
            <h5 class="col-md-2 text-center">Frequency</h5>
            <h5 class="col-md-2 text-left">Complete</h5>

          </div>
          <div class="row"
               *ngFor="let todo of getTodoPageList()">
            <a class="list-group-item list-group-item-action"
               style="width: 100%;">
              <div class="row">
                <div class="col-md-6"
                     (click)="currentTodo = todo.id == currentTodo?.id ? null : todo">
                  <i [ngClass]="getCheckedClass(todo.completed)"></i>
                  {{todo.title}}

                  <i *ngIf="getDateTimeClass(todo).includes('over-due')"
                     class="fa fa-exclamation-circle over-due"></i>
                  <i *ngIf="getDateTimeClass(todo).includes('almost-due')"
                     class="fa fa-exclamation-circle almost-due"></i>

                </div>
                <div class="col-md-2 text-center ">
                  <span *ngIf="todo.dueDate != null"
                        [ngClass]="getDateTimeClass(todo)">
                        &nbsp;&nbsp;{{todo.dueDate == null ? "" : formatDateTime(todo)}}&nbsp;&nbsp;
                    </span>
                </div>
                <div class="col-md-2 text-center">

                  <span *ngIf="todo.category != null"
                        class="frequency">
                        &nbsp;&nbsp;{{todo.category.name}}&nbsp;&nbsp;
                  </span>

                </div>
                <div class="col-md-2">
                  <i class="fa fa-remove pull-right delete-button" (click)="deleteTodo(todo)"></i>
                  <i class="fa fa-pencil pull-right edit-button"></i>
                  <button [ngClass]="completedClass(todo.completed)"
                          (click)="todo.completed=!todo.completed; updateTodo(todo);">
                    Complete
                  </button>
                </div>
              </div>
              <div *ngIf="currentTodo?.id == todo.id"
                   class="row">
                <app-todo-details ></app-todo-details>
              </div>
            </a>
          </div>

        </div>
        <div class="navigation">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="flipPages(-1)">Previous</a>
              </li>

              <li *ngFor=" let num of getPagesNumbers();"
                  [ngClass]="activePageClass(num)">
                <a class="page-link"
                   (click)="setPage(num)">
                  {{num+1}}
                </a>
              </li>
              <li>
                <a class="page-link"
                   (click)="flipPages(1)"
                >Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
