<div class="container">

  <!--Search Menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-11">
      <input type="text"
             class="form-control"
             [(ngModel)]="searchString"
             style="width: 98%;"
             placeholder="Search Todo's by Category / Title...">
    </div>
    <div class="col-md-1">
      <button type="button"
              class="btn btn-info pull-right">

        <i class="fa fa-search"></i> Search
      </button>

    </div>
  </div>
  <div *ngIf="currentCategory != null
           && searchString != null
           && searchString != ''" class="alert-warning">*Note: you are searching in the <b>{{currentCategory.categoryName}}</b>
    category
  </div>

  <!-- Below Headers -->
  <div class="row" style="margin-top: 28px">
    <!-- Category Pane; -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && newTodoCategory(); f.resetForm();"
              class="newTodoCategory-form">
          <div class="row">
            <div class="col-md-10">
              <input type="text"
                     id="categoryName"
                     name="categoryName"
                     class="form-control"
                     style="width: 100%;"
                     placeholder="New Category.."
                     [(ngModel)]="model.categoryName"
                     #name="ngModel"
                     required minlength="2"
                     [ngClass]="{ 'is-valid': f.submitted && name.invalid}"
              />
              <!-- Validation errors -->
              <div *ngIf="f.submitted && name.invalid" class="alert-warning">
                <!-- Name Validation errors -->
                <div *ngIf="name.errors?.required">*This is a required field.</div>
                <div *ngIf="name.errors?.minlength">*Please use a minimum of 2 characters.</div>
              </div>
              <div><br></div>
            </div>
            <div class="col-md-2">
              <button type="submit"
                      class="btn btn-info pull-right">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

        </form>
        <a class="list-group-item list-group-item-action"
           (click)="selectTodoCategory(null);"
           [ngClass]="selectedCategoryClass(null)">
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <a *ngFor="let todoCategory of todoCategoryList"
           (click)="selectTodoCategory(todoCategory);"
           [ngClass]="selectedCategoryClass(todoCategory)">
          <i class="fa fa-pencil-square-o "></i>&nbsp;
          <span #category class="category-line">{{todoCategory.categoryName}}</span>
          ({{todoCategory.categoryCount}})
          <a (click)="deleteCategory(todoCategory.id)">
            <i class="fa fa-remove pull-right delete-button"></i>
          </a>
          <a>
            <i class="fa fa-pencil pull-right edit-button"
               *ngIf="category.contentEditable!='true'"
               (click)="category.contentEditable='true'; category.focus();">
              <!--  (click)=""> -->&nbsp;
            </i>
            <i class="fa fa-check edit-complete pull-right "
               *ngIf="category.contentEditable=='true'"
               (click)="category.textContent = category.textContent;
                        updateCategory(category.textContent);
                        category.contentEditable=!category.contentEditable;
                        selectTodoCategory(todoCategory);">
              <!--  (click)=""> -->&nbsp;
            </i>
          </a>
        </a>
      </div>
    </div>

    <!--Todos Pane-->
    <div class="col-md-9">
      <br>
      <div class="row">
        <!-- to do list-->
        <app-new-todo class="todo-pane"
                      (refreshTodoEmitter)="refreshTodoCategory()"
                      [category]="currentCategory"
        ></app-new-todo>
        <div class="list-group list-group-flush todo-pane">


          <div class="row headings">
            <h5 class="col-md-6 text-left">Title</h5>
            <h5 class="col-md-2 text-center">Due</h5>
            <h5 class="col-md-2 text-center">Frequency</h5>
            <h5 class="col-md-2 text-left">Complete</h5>

          </div>
          <div class="row"
               *ngFor="let todo of getTodoPageList() | orderByCompleted"
               (click)="currentTodo = todo.id == currentTodo?.id ? null : todo; ">
            <a class="list-group-item list-group-item-action"
               style="width: 100%;">
              <div class="row">
                <div class="col-md-6">
                  <i [ngClass]="getCheckedClass(todo.completed)"
                     (click)="todo.completed=!todo.completed; updateTodo(todo); $event.stopPropagation();"></i>
                  {{todo.title}}
                </div>
                <div class="col-md-2 text-center ">

                  <span *ngIf="todo.dueDate != null"
                        class="due-date">
                        &nbsp;&nbsp;{{todo.dueDate == null ? "" : formatDateTime(todo)}}&nbsp;
                    </span>
                  <i *ngIf="getDateTimeClass(todo).includes('over-due')"
                     class="fa fa-exclamation-circle over-due"></i>
                  <i *ngIf="getDateTimeClass(todo).includes('almost-due')"
                     class="fa fa-exclamation-circle almost-due"></i>
                </div>
                <div class="col-md-2 text-center">

                  <span *ngIf="todo.frequency != null"
                        class="frequency">
                        &nbsp;&nbsp;{{todo.frequency.name}}&nbsp;&nbsp;
                  </span>


                </div>
                <div class="col-md-2">
                  <i class="fa fa-remove pull-right delete-button"
                     (click)="deleteTodo(todo); $event.stopPropagation();"></i>
                  <button [ngClass]="completedClass(todo.completed)"
                          (click)="todo.completed=!todo.completed; updateTodo(todo); $event.stopPropagation();">
                    Complete
                  </button>
                </div>

              </div>
              <br>
              <div *ngIf="currentTodo?.id == todo.id"
                   class="row">
                <app-todo-details [todo]="currentTodo" (click)="$event.stopPropagation();"></app-todo-details>
              </div>
            </a>
          </div>

        </div>
        <div [ngClass]="navigationClass()">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="flipPages(-1)">Previous</a>
              </li>

              <li *ngFor=" let num of getPagesNumbers();"
                  [ngClass]="activePageClass(num)">
                <a class="page-link"
                   (click)="setPage(num)">
                  {{num+1}}
                </a>
              </li>
              <li>
                <a class="page-link"
                   (click)="flipPages(1)"
                >Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
