.invalid-input {
  color: red;
}

.delete-button:hover{
  color: red;
}

.edit-button:hover{
  color: deepskyblue;
}

.btn-sm{
  line-height: 1;
}

.navigation{

  position: relative;
  top: 40px;

  left: 35%;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #17a2b8;
  border-color: #363636;
}

.page-link:hover {
  z-index: 2;
  color: #000;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link {

  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0c0c0c;
  background-color: #fff;
  border: 1px solid #dee2e6;
}


.fa {
  color: black;
}

.todo-selected {
  font-weight: 600;
}


.btn-round{
  border-radius: 20px;
  size: 6px;
  margin-right: 20px;
  line-height: 5px;
  margin-top: 6px;
  font-size: 11px;
  background: transparent;
  border-color: #17a2b8;
  color: black;
}

.btn-category {
  display: block;
  margin: auto;
}

.fa-search {
  color: white;
}

.expanded-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: grey;
  border-bottom-width: thin;
  margin-top: 4px;
  margin-left: 40px;
  background-color: inherit;
  font-size: smaller;
  width: fit-content;
}

.headings {
  border : 2px;
  border-top: grey;
  border-bottom: grey;
}

h5 {
  font-weight: 700;
}

.due-date {
  font-size: 11px;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  width: 200px;
}
