<div>

<form name="form" #f2="ngForm" (ngSubmit)="f2.form.valid && addTodo();  f2.resetForm();" novalidate class="new-todo-form">
  <div class="row">

    <div class="col-md-10">
      <input type="text"
             id="title2"
             class="form-control"
             placeholder="Name"
             name="title2"
             placeholder="New Todo Title.. "
             [(ngModel)]="model.title"
             #name="ngModel"
             [ngClass]="{'is-valid' : f2.submitted && name.invalid}"
             required minlength="3"/>
      <!-- Validation errors -->
      <div *ngIf="f2.submitted && name.invalid" class="invalid-input">
        <!-- Name Validation errors -->
        <div *ngIf="name.errors?.required">*Title is a required field.</div>
        <div *ngIf="name.errors?.minlength">*Please use a minimum of 3 characters.</div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit"
              [disabled]="false"
              class="btn btn-warning pull-right">
        <i class="fa fa-plus"></i> New Todo
      </button>
    </div>
  </div>
</form>
<br>
</div>


