<div>

<form name="form" #s="ngForm" (ngSubmit)="s.form.valid && addTodo() &&  s.resetForm();" novalidate class="new-todo-form">
  <div class="row">

    <div class="col-md-10">
      <input type="text"
             id="todoTitle"
             class="form-control"
             name="todoTitle"
             placeholder="New Todo Title.. "
             [(ngModel)]="model.title"
             #title="ngModel"
             [ngClass]="{'is-invalid' : s.submitted && title.invalid}"
             required minlength="3"/>
      <!-- Validation errors -->
      <div *ngIf="s.submitted && title.invalid " class="invalid-input">
        <!-- Name Validation errors -->
        <div *ngIf="title.errors?.required">*Title is a required field.</div>
        <div *ngIf="title.errors?.minlength">*Please use a minimum of 3 characters.</div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit"
              [disabled]="false"
              class="btn btn-warning pull-right">
        <i class="fa fa-plus"></i> New Todo
      </button>
    </div>
  </div>
</form>
  <div *ngIf="category != null
           && title != null
           && title.value !== ''" class="alert-warning" >*Note: the todo will be created in the <b>{{category.categoryName}}</b> category</div>
<br>
</div>


