<ul>
  <li>

    <div class="row">

      <span class="fieldName" >Title:&nbsp;</span>
      <input type="text"
             id="title"
             name="title"
             class="expanded-input"
             [(ngModel)]="todo.title"
             (blur)="updateTodoDetail()"
             placeholder="Title"
             required minlength="2"
      />
      <span class="fieldName" >Freq:&nbsp;</span>


      <select class="select-sm" [(ngModel)]="todo.frequency">
        <option *ngFor="let frequency of frequencyList" [ngValue]="frequency">{{frequency.name}}</option>
        <option [ngValue]="null">None</option>
      </select>

    </div>
  </li>

  <li>
    <div class="row">

      <span class="fieldName" >Date:&nbsp;</span>
      <input type="text"
             id="dueDate"
             name="dueDate"
             onfocus="(this.type='date')"
             onblur="(this.type='text')"
             class="expanded-input"
             [(ngModel)]="dateTime.date"
             (blur)="updateTodoDetail()"
             placeholder="yyyy-MM-dd"
             data-date-format="yyyy-MM-dd"
      />

      <span class="fieldName" >Time:&nbsp;</span>
      <input type="text"
             id="time"
             name="time"
             onfocus="this.type='time'"
             onblur="this.type='text'"
             class="expanded-input"
             (blur)="updateTodoDetail()"
             [(ngModel)]="dateTime.time"
             placeholder="hh:mm"/>

    </div>
  </li>

  <li>

    <div class="row">
      <span class="fieldName" >Desc:&nbsp;</span>
      <input type="text"
             id="description"
             name="description"
             class="expanded-input"
             [(ngModel)]="todo.description"
             (blur)="updateTodoDetail()"
             placeholder="Description"
             contenteditable="true"/>
    </div>
  </li>

</ul>
